<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<header th:fragment="header">
    <div class="header-container">
        <div class="header__bar row">
            <h1 class="grid-6"><a class="header-button" th:href="@{/}">PicTweet</a></h1>

            <div class="user_nav grid-6" th:if="${#authorization.expression('isAuthenticated()')}">
                <p class="user-name"><span th:text="${#authentication?.name}"></span>さん</p>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="ログアウト"/>
                </form>
            </div>

            <div class="user_nav grid-6" th:if="${#authorization.expression('!isAuthenticated()')}">
                <a th:href="@{/registerForm}">新規登録</a>
                <a th:href="@{/loginForm}">ログイン</a>
            </div>
        </div>
    </div>
</header>