<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>検索一覧</title>
</head>
<body>
<div th:insert="header :: header"></div>

<form action="/search" method="get" class="search-form">
    <input type="text" name="keyword" placeholder="投稿を検索する" class="search-input"/>
    <button type="submit" class="search-btn">検索</button>
</form>

<div class="contents row">
    <div th:each="tweet: ${tweetList}">
        <div class="content_post" th:style="'background-image: url(' + @{${tweet.image}} + ');'">
            <div class="button" th:if="${#authentication.name == tweet.user.username}">
                <div class="more">
                    <span><img th:src="@{/images/arrow_top.png}"/></span>
                    <ul class="more_list">
                        <li>
                            <a class="update-button"
                               th:href="@{/user/{userId}/tweet/{tweetId}/edit(userId=${tweet.user.id}, tweetId=${tweet.id})}">編集</a>
                        </li>
                        <li>
                            <form th:action="@{/user/{userId}/tweet/{tweetId}/delete(userId=${tweet.user.id}, tweetId=${tweet.id})}"
                                  method="post">
                                <input type="hidden" name="_method" value="delete"/>
                                <input type="submit" value="削除"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <p>
            <div th:text="${tweet.content}"></div>
            </p>
            <span class="name">
                <span>投稿者</span><div th:text="${tweet.user.getUsername()}"></div>
            </span>
        </div>
    </div>
</div>
</body>
</html>